g.station_dots {
	transition: opacity 0.5s;
	opacity: 1.0;
	pointer-events: none;
}

g.station_dots circle {
	/*transition: stroke-width 1s, fill 1s;*/

}

#map-hover-info a.first {
	float: left; 
	width: 180px;
}

#map-hover-info a {
	font-family: monospace;
}

g.bike_id_path {
	transition: opacity 0.5s;
	opacity: 0.0;
	pointer-events: none;
}

g.layer0 g.zip_code path {
	transition: stroke-width .75s, stroke .75s;
}

/* Remove Y-axis from chart */
#date-bar-chart g.axis.y {
	display: none;
}

#coordinate-scatter g.axis {
	display: none;
}

.dc-data-count .filter-count {
	color: #3fb8af;
	font-weight: bold;
}

.dc-data-count .total-count {
	color: #3fb8af;
	font-weight: bold;
}

#range-chart-flow svg g g.axis.y {
 display: none;
}

#range-chart-oil-temp svg g g.axis.y {
 display: none;

}

#range-chart-oil-pressure svg g g.axis.y {
 display: none;
}

#range-chart-bearing-vibration svg g g.axis.y {
 display: none;
}

#range-chart-ambient-temp svg g g.axis.y {
 display: none;
}

#range-chart-humidity svg g g.axis.y {
 display: none;
}

#line-chart-temp {
	background-color: white;
}
#range-chart-oil-temp {
	background-color: white;
}

.custom-cluster-icon {
	width: 40px;
	height: 40px;

	line-height: 40px;
	border-radius: 40px;

	filter: grayscale(25%);

	transition: 0.2s;

	text-align: center;
}

.custom-cluster-inner-icon {
	width: 30px;
	height: 30px;
	border-radius: 30px;

	position: absolute;
	left: 50%;
	top: 50%;
	
	margin-top: -15px;
	margin-left: -15px;

	line-height: 30px;
	text-align: center;
}

.custom-cluster-icon:hover {
	filter: grayscale(100%);
}

#line-chart-flow svg g g.chart-body g.dc-tooltip-list g.dc-tooltip._0 circle.dot {
	stroke: black;
}