g.station_dots {
  transition: opacity 0.5s;
  opacity: 1.0;
}

g.bike_id_path {
  transition: opacity 0.5s;
  opacity: 0.0;
}

/* Remove Y-axis from chart */
#date-bar-chart g.axis.y {
  display: none;
}

#coordinate-scatter g.axis {
  display: none;
}

.dc-data-count .filter-count {
	color: #3fb8af;
	font-weight: bold;
}

.dc-data-count .total-count {
	color: #3fb8af;
	font-weight: bold;
}