.chart-card {
	background-color: #ffffff;
	border-radius: 5px;
}

.navbar-chart {
	background-color: #bbbbbb;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.navbar-chart .navbar-brand,
.navbar-custom .navbar-text {
	color: rgba(70,70,70,.8);
}

.navbar-chart .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #ffffff;
}

.chart-settings-btn {
	font-size: 1.5rem;
	color: rgba(70,70,70,0.8);
	cursor: pointer;
}

/*-- Scale the font-size of chart titles depending on 
resolution so that everything fits on one line. Needs 
to be reconfigured if titles change or if div size
breakpoints change for charts. --*/
@media (min-width: 576px) { .navbar-chart .navbar-brand {
	font-size: 0.95rem;
}}

@media (min-width: 768px) { .navbar-chart .navbar-brand {
	font-size: 1.15rem;
}}

@media (min-width: 992px) { .navbar-chart .navbar-brand {
	font-size: 1rem;
}}

@media (min-width: 1200px) { .navbar-chart .navbar-brand {
	font-size: 1.15rem;
}}
