.info-box {
  height: 130px;
  border-radius: 5px;
}

/*style font inside infoboxes, */
h5.info-box-text {
	font-family: 'Nunito Sans', sans-serif;
	color: white;
	font-size: 25px;
}

/*style font inside infoboxes, */
h4.info-box-text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	color: white;
}