body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.dc-data-count .filter-count {
	color: #3fb8af;
	font-weight: bold;
}

.dc-data-count .total-count {
	color: #3fb8af;
	font-weight: bold;
}

.slider {
	max-width: 400px;
	margin-top: 40px;
	margin-bottom: 40px;
}
/*div runt infoboxes*/
.info-boxes {
  width: 1200px;
  height: 200px;

  position: relative;
	top: 50px;

}


#info-box-1 {
  width: 250px;
  height: 150px;
  background-color: #2ac8bc;
  margin: 15px 15px 15px 15px;
  float: left;
	border-radius: 5px;

}



#info-box-2 {
  width: 250px;
  height: 150px;
  background-color: #2ac862;
  margin: 15px 15px 15px 15px;
  float: left;
	border-radius: 5px;
}

#info-box-3 {
  width: 250px;
  height: 150px;
  background-color: #0cb1e6;
  margin: 15px 15px 15px 15px;
	border-radius: 5px;
  float: left;
}
#info-box-4 {
  width: 250px;
  height: 150px;
  background-color: #e09950;
  margin: 15px 15px 15px 15px;
	border-radius: 5px;
  float: left;
}

/*style font inside infoboxes, */
h5{
	font-family: 'Nunito Sans', sans-serif;
	color: white;
	font-size: 25px;
	text-align: center;

}

/*style font inside infoboxes, */
h4{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;


}



#box-test {
  width: 300px;
  height: 300px;
  padding: 50px;
  position: absolute;
  margin: -100px 0px 0px 850px;
  cursor: pointer;
}

.noUi-handle-lower .noUi-tooltip
{
	bottom: -130%;
}

.noUi-handle-upper .noUi-tooltip
{
	bottom: 120%;
}

.noUi-connect
{
	background: #3fb8af;
}

button {
	background: #8ad2d3;
	font: 700 11px/30px Arial;
	text-transform: uppercase;
	padding: 0 15px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	margin: 15px 5px 0 0;
}
