body {
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.dc-data-count .filter-count {
	color: #3fb8af;
	font-weight: bold;
}

.dc-data-count .total-count {
	color: #3fb8af;
	font-weight: bold;
}

.noUi-handle-lower .noUi-tooltip
{
  bottom: -130%;
  background: #d1d1d1;
}

.noUi-handle-upper .noUi-tooltip
{
  bottom: 120%;
  background: #d1d1d1;
}

.noUi-connect
{
  /*background: #3fb8af;*/
  background: #818181;
}

.noUi-target
{
  background: #d1d1d1;
}

/* Remove Y-axis from chart */
#date-bar-chart g.axis.y {
  display: none;
}

#coordinate-scatter g.axis {
  display: none;
}

button {
  background: #8ad2d3;
  font: 700 11px/30px Arial;
  text-transform: uppercase;
  padding: 0 15px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: 15px 5px 0 0;
}

/* div containing info boxes */
.info-boxes {
  width: 1200px;
  height: 150px;

  position: relative;
}

#info-box-1 {
  width: 250px;
  height: 150px;
  background-color: #2ac8bc;
  margin: 15px 15px 15px 15px;
  float: left;
	border-radius: 5px;
}

#info-box-2 {
  width: 250px;
  height: 150px;
  background-color: #2ac862;
  margin: 15px 15px 15px 15px;
  float: left;
	border-radius: 5px;
}

#info-box-3 {
  width: 250px;
  height: 150px;
  background-color: #0cb1e6;
  margin: 15px 15px 15px 15px;
	border-radius: 5px;
  float: left;
}

#info-box-4 {
  width: 250px;
  height: 150px;
  background-color: #e09950;
  margin: 15px 15px 15px 15px;
	border-radius: 5px;
  float: left;
}

/* warning boxes (red) */
#warning-box-1 {
  width: 250px;
  height: 150px;
  background-color: #e60000;
  margin: 15px 15px 15px 15px;
  float: left;
	border-radius: 5px;
}

#warning-box-2 {
  width: 250px;
  height: 150px;
  background-color: #ff4d4d;
  margin: 15px 15px 15px 15px;
  float: left;
	border-radius: 5px;
}


/*style font inside infoboxes, */
h5.info-box-text {
	font-family: 'Nunito Sans', sans-serif;
	color: white;
	font-size: 25px;
	text-align: center;
}

/*style font inside infoboxes, */
h4.info-box-text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
}

/* Sidemenu */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 90px;
	background: rgba(0, 0, 0, 0.9); /* Only set opacity for bg, not text */
  white-space: nowrap;
}

.sidenav a {
  padding: 8px 8px 32px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#menu-btn {
  transition: color 0.3s, margin-left .5s;
  margin-left: 10px;
  float: left;
  color: #e1e1e1;
  font-size: 30px;
  cursor: pointer;
  padding: 6px 0px;
}

#menu-btn:hover {
  color: #ffffff;
}

#toggle-dots {
  transition: color 0.3s;
  float: left;
  color: #e1e1e1;
  font-size: 30px;
  cursor: pointer;
  padding: 6px 0px;
}

#toggle-dots:hover {
  color: #ffffff;
}

g.station_dots {
  transition: opacity 0.5s;
  opacity: 1.0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Topmenu */

.topnav {
  overflow: hidden;
  background-color: #2abac8;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #27abb8;
  color: white;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/** Warning **/

#menu-warning {
	transition: color 0.3s, margin-left .5s;
  margin-left: 20px;
  float: left;
  color: #ff3333;
  font-size: 30px;
  cursor: pointer;
  padding: 6px 0px;
}

#menu-warning:hover{
	color: #e60000;
}

#menu-warning:hover #warning-modal {
	display: block;
}

#warning-modal {
	display: none;
	z-index: 1;
	text-align: center;
	padding-top: 10px;
	border-top: solid rgba(255,255, 255, 0.5);
	width: auto;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 102, 102, 0.7);
}

.modal-content {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 25px;
	margin: auto;
}

#fix-warning {
	cursor: pointer;
	color: black;
	margin-left: 10px;
	font-size: 25px;
}

#fix-warning:hover {
	text-decoration: none;
	color: white;
}

/** Questionmark - will not work :( **/
.question {
	transition: color 0.3s, margin-left .5s;
  margin-left: 10px;
  float: left;
  font-size: 30px;
  cursor: pointer;
  padding: 6px 0px;
}
