#topnav {
  transition: 0.5s;
  margin-left: 0px;
}

#topnav.active {
  margin-left: 250px;
}

.navbar-custom {
  background-color: #2abac8;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    font-size: 1rem;
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.toggle-icon {
  font-size: 2rem;
  color: rgba(255,255,255,.8);
}

.togglerbtn {
  padding:.25rem .75rem;
  font-size:1.25rem;
  line-height:1;
  cursor: pointer;
}

/* Use these to change warning icon colors, otherwise bootstrap functionality breaks. */
#warning-link .nav-link {
  color: rgb(230, 0, 0);
}

#warning-link .nav-link:hover {
  color: rgb(255, 77, 77);
}

#warning-link.active .nav-link {
  color: #ffffff;
}

#superscript-warnings {
  vertical-align: top;
  position: relative;
  top: -2px;
  font-size: 10px;
  color:#ff3838;
}