extends ../layout

include mixins

block content

	- var info_box_colors = {'warning-1':'#e60000', 'warning-2':'#ff4d4d'};

	+sidenav
	+topnav('warning')

	.container-fluid.px-4
		.row
			each color, name in info_box_colors
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.d-flex.justify-content-center.align-items-center.p-2
					div(id='info-box-' + name, style='background-color:' + color).text-center.w-100.info-box

	script(src='javascripts/sidenav.js')
