extends ../layout

include mixins

block content

	+sidenav
	+topnav('help')

	.helpbox
		h1 Help
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In fermentum et sollicitudin ac orci phasellus egestas tellus. Arcu dictum varius duis at consectetur lorem donec massa sapien. Aenean euismod elementum nisi quis eleifend. Amet dictum sit amet justo. Nulla pellentesque dignissim enim sit. Morbi leo urna molestie at elementum eu facilisis. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Ut tristique et egestas quis ipsum suspendisse. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Aliquet enim tortor at auctor urna nunc id cursus. Mattis aliquam faucibus purus in massa. Et netus et malesuada fames ac turpis egestas integer eget. Volutpat maecenas volutpat blandit aliquam etiam erat. Neque sodales ut etiam sit amet. Dui vivamus arcu felis bibendum ut tristique. Habitasse platea dictumst quisque sagittis purus sit.

		Urna neque viverra justo nec ultrices dui. Nec dui nunc mattis enim ut tellus. Feugiat sed lectus vestibulum mattis. Sodales ut etiam sit amet nisl purus. Purus in massa tempor nec feugiat nisl pretium fusce. Nec nam aliquam sem et tortor consequat id porta nibh. Dui vivamus arcu felis bibendum. Tempor id eu nisl nunc mi ipsum. Quis enim lobortis scelerisque fermentum. Urna porttitor rhoncus dolor purus non enim praesent elementum. Arcu non odio euismod lacinia at. Adipiscing bibendum est ultricies integer quis auctor elit sed vulputate. Fames ac turpis egestas integer eget. Ornare quam viverra orci sagittis eu. Tellus cras adipiscing enim eu turpis. Cursus eget nunc scelerisque viverra mauris in. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Augue ut lectus arcu bibendum at varius vel pharetra vel.
