extends ../layout

include mixins

block content



	+sidenav
	+topnav('warning')

	.container-fluid.px-4
		.page-header.text-center.text-danger
				h1 Warnings
					
			 

	script(src='javascripts/sidenav.js')
