extends ../layout

include mixins

block content

	- var info_box_colors = {'1':'#008c82', '2':'#2ac8bc', '3':'#74bc6e', '4':'#2cb1dd'};

	+sidenav
	+topnav('1')

	.container-fluid.px-4
		a#data-load(style="display: none")
		#decimate-slider(style="display: none")
		.row
			each color, name in info_box_colors
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.d-flex.justify-content-center.align-items-center.p-2
					div(id='info-box-' + name, style='background-color:' + color).text-center.w-100.info-box.card-shadow
		.row
			.container-fluid.col-xs-12.col-sm-12.col-md-12.col-lg-5.p-2.m-0
				+chart-card('map-chart', 'Geographical Distribution', 'map-hover-info')
					a.dropdown-item(onclick='bike_dashboard.map_chart.chart.filterAll();dc.redrawAll()') Reset Filter
					a.dropdown-item(onclick='bike_dashboard.map_chart.toggleShowNewStations()') Toggle Used Stations Highlight
					a.fas.fa-map-marker-alt.dropdown-item(onclick='bike_dashboard.map_chart.toggleStationDots()')
					a.fas.fa-route.dropdown-item(onclick='bike_dashboard.map_chart.toggleBikeRoute()')
			.container-fluid.col-xs-12.col-sm-12.col-md-12.col-lg-7
				.row
					.container-fluid.col-xs-12.col-sm-12.col-md-12.col-lg-12.p-2.m-0
						+chart-card('date-bar-chart', 'Time Distribution')
							a.dropdown-item(onclick='bike_dashboard.date_chart.chart.filterAll();dc.redrawAll()') Reset Filter

				.row
					.container-fluid.col-xs-12.col-sm-5.col-md-5.col-lg-5.p-2.m-0
						+chart-card('pie-chart', 'Gender Distribution')
							a.dropdown-item(onclick='bike_dashboard.gender_chart.chart.filterAll();dc.redrawAll()') Reset Filter
					.container-fluid.col-xs-12.col-sm-7.col-md-7.col-lg-7.p-2.m-0
						+chart-card('bike-id-chart', 'Farthest Traveled Bikes')
							a.dropdown-item(onclick='bike_dashboard.bike_id_chart.chart.filterAll();dc.redrawAll()') Reset Filter

	//- Ideally only a single app.js script would be called here as the client entry point.
	script.
		var bike_dashboard;

	script(src='javascripts/startup-data-request-realtime.js', type='module')
	script(src='javascripts/filter-menu.js', type='module')
	script(src='javascripts/sidenav.js')
