extends ../layout

include mixins

block content



	+sidenav
	+topnav('warning')

	.container-fluid.px-4
		.page-header.text-center.text-danger
				h1 Warnings
	
	.container-fluid.px-4.mt-4
		table#example.table.table-striped.table-bordered(width='100%')
			 

	script(src='javascripts/sidenav.js')
