extends ../layout

include mixins

block content

	- var info_box_colors = {'1':'#2ac8bc', '2':'#2ac862', '3':'#0cb1e6', '4':'#e09950'};

	+sidenav
	+topnav('1')
	
	.container-fluid.px-4
		a#data-load(style="display: none")
		#decimate-slider(style="display: none")
		.row
			each color, name in info_box_colors
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.d-flex.justify-content-center.align-items-center.p-2
					div(id='info-box-' + name, style='background-color:' + color).text-center.w-100.info-box.card-shadow
		.row
			.container-fluid.col-xs-12.col-sm-12.col-md-12.col-lg-5.p-2.m-0
				+chart-card('map-chart', 'Geographical Distribution')
					a.fas.fa-map-marker-alt.dropdown-item(onclick='toggleStationDots()')
					a.fas.fa-route.dropdown-item(onclick='toggleBikeRoute()')
			.container-fluid.col-xs-12.col-sm-12.col-md-12.col-lg-7
				.row
					.container-fluid.col-xs-12.col-sm-12.col-md-12.col-lg-12.p-2.m-0
						+chart-card('date-bar-chart', 'Date Distribution')
				.row
					.container-fluid.col-xs-12.col-sm-5.col-md-5.col-lg-5.p-2.m-0
						+chart-card('pie-chart', 'Gender Distribution')
					.container-fluid.col-xs-12.col-sm-7.col-md-7.col-lg-7.p-2.m-0
						+chart-card('bike-id-chart', 'Farthest Traveled Bikes')

	//script(src='javascripts/draw-chart.js')
	script(src='javascripts/bike-dashboard/bike-id-chart.js')
	script(src='javascripts/bike-dashboard/gender-chart.js')
	script(src='javascripts/bike-dashboard/date-chart.js')
	script(src='javascripts/bike-dashboard/bike-dashboard.js')
	script(src='javascripts/startup-data-request.js')
	//script(src='javascripts/filter-menu.js')
	script(src='javascripts/sidenav.js')
	//script(src='javascripts/map-chart-options.js')

	script.
		startupDataRequest();