extends layout

include dashboard-mixins

block content

	nav#sidebar
		p stuff

	nav#topmenu.navbar.navbar-expand-lg.navbar-custom.p-1
		a#toggle-sidemenu.togglerbtn.m-0
			span.toggle-icon.fas.fa-bars
		a.navbar-brand.mx-lg-5.m-0(href='#') #{title}
		button.navbar-toggler.m-0(type='button', data-toggle='collapse', data-target='#collapsed-topmenu', aria-controls='collapsed-topmenu')
			span.toggle-icon.fas.fa-bars
		#collapsed-topmenu.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item.active.d-flex.justify-content-center
					a.nav-link(href='#') View 1
				li.nav-item.d-flex.justify-content-center
					a.nav-link(href='#') View 2
				li.nav-item.d-flex.justify-content-center
					a.nav-link(href='#') View 3
				li.nav-item.d-flex.justify-content-center
					a.nav-link.fas.fa-bullhorn(href='#')
						sup#superscript-warnings  (5)
			form.form-inline.d-flex.justify-content-center
				.input-group-prepend
					span#calendar-addon.input-group-text.fas.fa-calendar-alt(style="font-size: 1.5rem")
				input.form-control.mr-2.w-auto(type='text', name='daterange', value='01/01/2018 - 12/31/2018', aria-describedby='calendar-addon')
	
	.container-fluid.px-4
		a#data-load(style="display: none")
		#decimate-slider(style="display: none")
		.row
			each x in [1, 2, 3, 4]
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.d-flex.justify-content-center.align-items-center.p-2
					div(id='info-box-' + x).text-center.w-100.card-shadow
		.row
			.container-fluid.col-xs-12.col-sm-12.col-md-5.col-lg-5.p-2.m-0
				+chart-card('map-chart', 'Geographical Distribution')
					a.fas.fa-map-marker-alt.dropdown-item(href='#')
					a.fas.fa-route.dropdown-item(href='#')
			.container-fluid.col-xs-12.col-sm-12.col-md-7.col-lg-7
				.row
					.container-fluid.col-xs-12.col-sm-12.col-md-12.col-lg-12.p-2.m-0
						+chart-card('date-bar-chart', 'Date Distribution')
				.row
					.container-fluid.col-xs-12.col-sm-5.col-md-5.col-lg-5.p-2.m-0
						+chart-card('pie-chart', 'Gender Distribution')
					.container-fluid.col-xs-12.col-sm-7.col-md-7.col-lg-7.p-2.m-0
						+chart-card('bike-id-chart', 'Farthest Traveled Bikes')
						
	script(src='javascripts/draw-chart.js')
	script(src='javascripts/startup-data-request.js')
	script(src='javascripts/filter-menu.js')
	script(src='javascripts/sidemenu.js')



	script.
		startupDataRequest();