//-
	error.pug

	Webpage for displaying error messages.
	Displays HTTP status text and status code
	and then lists the error stack.

extends layout

block content
	h1= message
	h2= error.status
	pre #{error.stack}
