extends layout
block content
  .container
    .dropdown
      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
        | Dropdown
        span.caret
      ul.dropdown-menu
        li

        li.divider
        li
          a(href='#') test1
        li.divider
        li
          a(href='#') test2
        li.divider
        li
          a(href='#') test3
          li.divider
        li
          a(href='#') test
        li.divider
        li
          a(href='#') test1
        li.divider
        li
          a(href='#') test2
        li.divider
        li
          a(href='#') test3
