extends layout

block content
	h1= title
	p#data-load
	.slider
		#date-slider
		button#set-date(style='float: right; margin: 40px 0px 0px;') Set Date

	#chart-section(style='width: 750px; height: 200px; margin: 100px -20px 0px; position: relative')
		#count-chart.dc-data-count(style='float: left; margin: 0px 20px 0px; position: absolute;')
			span.filter-count
			|  bike rides out of 
			span.total-count
			|  selected. | 
			a(href='javascript:dc.filterAll();dc.renderAll();') Reset All

		#date-bar-chart(style='width: 750px; height: 150px; bottom: 0; position: absolute;')

	script(src='javascripts/draw-chart.js')
	script(src='javascripts/date-slider.js')
