//-
	layout.pug

	This template should contain everything that all pages should use.
	(maybe with some exception for pages that doesn't need this)

doctype html
html
	head
		title= title

		//- D3.js
		script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.8.0/d3.min.js')

		//- Crossfilter
		script(src='https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.4.6/crossfilter.min.js')

		//- DC.js
		link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.10/dc.min.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.10/dc.min.js')

		//- Leaflet
		link(rel='stylesheet' href='https://unpkg.com/leaflet@1.4.0/dist/leaflet.css')
		script(src='https://unpkg.com/leaflet@1.4.0/dist/leaflet.js')

		//- Leaflet.markercluster
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js')

		//- DC.Leaflet.js
		script(src='https://cdn.jsdelivr.net/npm/dc.leaflet@0.4.0/dc.leaflet.min.js')

		//- NoUiSlider
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.0.0/nouislider.min.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.0.0/nouislider.min.js')

		//- JQuery
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

		//- socket.io
		script(src='/socket.io/socket.io.js')

		//- Bootstrap
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')

		//- moment
		script(type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")

		//- daterangepicker
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
		script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")

		//- datatables
		link(rel="stylesheet", href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')
		script(type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
		script(type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
		script(type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js")

		//- DC.datatables.js
		script(type="text/javascript" src='https://cdn.jsdelivr.net/npm/dc.datatables@0.0.7/dc.datatables.min.js')
		link(rel="stylesheet", href='https://cdn.jsdelivr.net/npm/dc.datatables@0.0.7/dc.datatables.css')

		//- Fonts
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito+Sans')

		//- fontawesome
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')

		//- Our CSS files go here
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/topnav.css')
		link(rel='stylesheet', href='/stylesheets/sidenav.css')
		link(rel='stylesheet', href='/stylesheets/chart-card.css')
		link(rel='stylesheet', href='/stylesheets/info-box.css')
		link(rel='stylesheet', href='/stylesheets/chart-configurations.css')
		link(rel='stylesheet', href='/stylesheets/table-configurations.css')
		link(rel='stylesheet', href='/stylesheets/help.css')

		body
			
			block content
