#mySidenav.sidenav
//-  a.closebtn(href='javascript:void(0)', onclick='closeNav()') &times;-//
  p About
h2 Animated Sidenav Example
p Click on the element below to open the side navigation menu.
span(style='font-size:30px;cursor:pointer', onclick='openNav()') &#x2630; open


script(src='javascripts/menu.js')
