
//- Sidemenu--/
#Sidenav.sidenav
	a Dashboard 1
	a Dashboard 2
	a Dashboard 3
	br

	//- Slider should probably be put in a dropdown from the top menu.
		- Only this calendar icon would be visible on the top bar normally.
	a.glyphicon.glyphicon-calendar
	.slider
		#date-slider
		button#set-date(style='float: right; margin: 50px 0px 0px;') Request Data

script(src='javascripts/sidemenu.js')
