
//- Sidmeny--/
#mySidenav.sidenav
 a.closebtn(href='javascript:void(0)', onclick='closeNav()') &#x2630;

//-span(style='font-size:30px;cursor:pointer', onclick='openNav()') &#x2630;--/

//-Importera sidmeny.js--/
script(src='javascripts/sidemenu.js')
