
//- Sidemenu--/
#Sidenav.sidenav
	a Dashboard 1
	a Dashboard 2
	br

	//- Slider should probably be put in a dropdown from the top menu.
		- Only this calendar icon would be visible on the top bar if so.
	a.glyphicon.glyphicon-calendar
	//.slider

	#date-slider(style="margin-left: 45px;margin-right: 45px;margin-top: 20px;margin-bottom: 50px")
	a Decimate:
	#decimate-slider(style="margin-left: 45px;margin-right: 45px")
	button#set-date(style='float: right; margin: 50px 45px 45px') Request Data

script(src='../javascripts/sidemenu.js')
script(src='../javascripts/toggle-station-dots.js')
