#mySidenav.sidenav
 a.closebtn(href='javascript:void(0)', onclick='closeNav()') &times;

span(style='font-size:30px;cursor:pointer', onclick='openNav()') &#x2630;

script(src='javascripts/sidemenu.js')
