
//- Sidemenu--/
#Sidenav.sidenav
	a Dashboard 1
	a Dashboard 2
	br

	a Decimate:
	#decimate-slider(style="margin-left: 45px;margin-right: 45px")

script(src='javascripts/sidemenu.js')
script(src='javascripts/toggle-station-dots.js')
script(src='javascripts/warning-symbol.js')
