.topnav
	// &#x2630;
	span#menu-btn.glyphicon.glyphicon-menu-hamburger(onclick='toggleNav()')

	div(style="margin-left: auto;margin-right: auto;display: block; width: 40%")
		span#toggle-dots.glyphicon.glyphicon-map-marker(onclick='toggleStationDots()')
		a(href='dashboard?data=bike&view=1') View1
		a(href='dashboard?data=bike&view=2') View2
		a(href='dashboard?data=bike&view=3') View3


  
