extends ../layout

include ../bike-dashboard/mixins

block content

	+sidenav
	+topnav('warning')
	.container-fluid.px-4.mt-4
		.page-header.text-center.text-danger
			h1 Warnings
		table#warnings.table.table-striped.table-bordered(width='100%')
			button#button

	script(src='javascripts/warnings.js')
	script(src='javascripts/startup-data-request-warning.js')
	script(src='javascripts/sidenav.js')

	script.
		startupDataRequest();
