extends ../layout

include ../bike-dashboard/mixins

block content
  
  - var info_box_colors = {'1':'#3878cf', '2':'#9e92f4', '3':'#7199e6', '4':'#a4a9ec'};
  
  +sidenav
  +topnav('1')
  
  .container-fluid.px-4
    .row
      each color, name in info_box_colors
         .col-xs-12.col-sm-6.col-md-6.col-lg-3.d-flex.justify-content-center.align-items-center.p-2
            div(id='info-box-' + name, style='background-color:' + color).text-center.w-100.info-box.card-shadow
    .row
      .container-fluid.col-xs-12.col-sm-6.col-md-6.col-lg-6.p-2.m-0
        +chart-card('line-chart-compressor', 'Flow')
      .container-fluid.col-xs-12.col-sm-6.col-md-6.col-lg-6.p-2.m-0
        +chart-card('line-chart-pressure', 'Oil Pressure')
      .container-fluid.col-xs-12.col-sm-6.col-md-6.col-lg-6.p-2.m-0
        +chart-card('line-chart-humidity', 'Humidity')
      .container-fluid.col-xs-12.col-sm-6.col-md-6.col-lg-6.p-2.m-0
        +chart-card('line-chart-bearing-vibration', 'Bearing Vibration')
      .container-fluid.col-xs-12.col-sm-6.col-md-6.col-lg-6.p-2.m-0
        +chart-card('line-chart-oil-temp', 'Oil Temperature')
      .container-fluid.col-xs-12.col-sm-6.col-md-6.col-lg-6.p-2.m-0
        +chart-card('line-chart-amb-temp', 'Line chart ambient temperature')
      
  
  
	
  script(src='javascripts/draw-charts-compressor.js')
  script(src='javascripts/startup-data-request-compressor.js')
  script(src='javascripts/sidenav.js')
  script(src='javascripts/map-chart-options.js')

  script.
    startupDataRequest();
