extends ../layout

include ../bike-dashboard/mixins

block content

	+sidenav
	+topnav('2')

	.container-fluid.px-4
		.row
			.container-fluid.col-xs-6.col-sm-6.col-md-6.col-lg-6.p-2.m-0
				+chart-card('map-chart-cluster', 'Geographical Distribution')
			.container-fluid.col-xs-6.col-sm-6.col-md-6.col-lg-6.p-2.m-0
				.container-fluid.col-xs-12.col-sm-12.col-md-12.col-lg-12.p-0.m-0(style="height: 75px")
					.row.p-0.m-0
						each name in ['working', 'warning', 'broken']
							div(id='click-' + name).col-xs-12.col-sm-6.col-md-4.col-lg-4.d-flex.justify-content-center.align-items-center.p-0.status-box
								div(id=name + '-display').d-flex.justify-content-center
				table#compressors-table.table.table-striped.table-bordered(style="width: 100%")

	script.
		var compressors_dashboard;

	script(src='javascripts/startup-data-request-compressors.js', type='module')
	script(src='javascripts/sidenav.js')
