extends ../layout

include ../bike-dashboard/mixins

block content

	+sidenav
	+topnav('2')

	.container-fluid.px-4
		.row
			.container-fluid.col-xs-6.col-sm-6.col-md-6.col-lg-6.p-2.m-0
				+chart-card('map-chart-cluster', 'Geographical Distribution')
			.container-fluid.col-xs-6.col-sm-6.col-md-6.col-lg-6.p-2.m-0
				table#search-table.table.table-striped.table-bordered(width='100%')
					

	script.
		var compressors_dashboard;

	script(src='javascripts/startup-data-request-compressors.js', type='module')
	script(src='javascripts/sidenav.js')
