extends ../layout

block content

	include ../topmenu.pug
	include ../sidemenu.pug

	#count-chart.dc-data-count(style="padding-left: 50px; padding-top: 0px; float: left")

		div
			span.filter-count
			span#t1
			span.total-count
			span#t2
			a#t3(href='javascript:dc.filterAll();dc.renderAll();')
			span  |  
			span#data-load

		.info-boxes
			#info-box-1
			#info-box-2
			#info-box-3
			#info-box-4
	
		#chart-section(style='width: 1200px; height: 415px')
				#map-chart(style='width: 415px; height: 415px')
		
	script(src='../javascripts/draw-chart.js')
	script(src='../javascripts/filter-menu.js')
	script(src='javascripts/startup-data-request.js')

	//- Temporary solution to load data when page loads. Simulates a data request click.
	script.
		startupDataRequest();
